@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #080808;
    color: #ededed;
}

html {
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url(/personal-portfolio/images/download.png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 0 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}

nav ul li a:hover,
nav ul li a.active {
    /* this allows only about button to change not the whole thing in the navbar class*/
    color: #00abf0;
    transition: 0.5s;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 20px;
}

.header-text h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.header-text .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    margin: 80px 0;
}

.header-text .btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: linear-gradient(90deg, #5de0e6, #004aad);
    border: 1px solid #080808;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
    transition: background 0.5s, color 0.5s;
}

.header-text .btn-box a:hover {
    background: linear-gradient(90deg, #8c52ff, #ff9966);
}


#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #00abf0;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px; /* we import it as font link so used font-size */
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div p {
    line-height: 1.5rem;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #00abf0;
    transform: translateY(-10px);
    cursor: pointer;
}

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #00abf0);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #00abf0;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #00abf0;
    border-radius: 6px;
    text-decoration: none;
    padding: 14px 50px;
    color: #fff;
    position: relative;
    display: flex;
}

.btn:hover {
    background: #00abf0;
    transition: 0.5s;
}

#contact h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
    display: flex;
}

.contact-left p i {
    color: #00abf0;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-flex;
    color: #fff;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #00abf0;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: linear-gradient(90deg, #5de0e6, #004aad);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn.btn2:hover {
    background: linear-gradient(90deg, #8c52ff, #ff9966);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
.btn.btn3 {
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    background: transparent;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: tranform 0.5s;
    background: #00abf0;
}

.btn.btn3:hover {
    border: 1px solid #00abf0;
    background: transparent;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    color: #fff;
    border-radius: 6px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: #00abf0;
}

.copyright p a {
    text-decoration: none;
    color: #ababab;
    font-weight: bolder;
}

nav .bx {
    display: none; /*to hide the icons*/
}

@media only screen and (max-width: 600px) {
    #header {
        background-image: url(/personal-portfolio/images/downloadPhone.png);
    }
    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1 {
        font-size: 30px;
    }
    nav .bx {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul {
        background: #00abf0;
        position: fixed;
        top: 0;
        right: -200px; /*it will move to the right side by -200px opp of width*/
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;/*because we need to move the menu from right side*/
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul li a, nav ul li a.active {
        color: #fff;
    }
    nav ul li a:hover {
        color: #2817c4;
    }
    nav ul .bx {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .header-text h1 {
        margin-top: 0;
    }

    div .btn-box {
        margin: 0;
        left: 0;
        right: 0;
        padding: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
    }
    .sub-title {
        font-size: 40px;
    }
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
        margin-top: 50px;
        text-align: left;
    }
    .about-col-1 {
        margin-bottom: 30px;
    }
    .about-col-2 {
        font-size: 14px;
    }
    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right {
        flex-basis: 100%;
    }
    .copyright {
        font-size: 12px;
    }
}

#msg {
    color: #61b752;  
    margin-top: -40px;
    display: block;
}